


@import url("https://use.typekit.net/gmg5gim.css");


@font-face {
    font-family: 'BentonSansComp Bold';
    src: url('../assets/fonts/BentonSansComp-Bold.eot');
    src: url('../assets/fonts/BentonSansComp-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/BentonSansComp-Bold.woff2') format('woff2'),
        url('../assets/fonts/BentonSansComp-Bold.woff') format('woff'),
        url('../assets/fonts/BentonSansComp-Bold.svg#BentonSansComp-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp Light';
    src: url('../assets/fonts/BentonSansComp-Light.eot');
    src: url('../assets/fonts/BentonSansComp-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/BentonSansComp-Light.woff2') format('woff2'),
        url('../assets/fonts/BentonSansComp-Light.woff') format('woff'),
        url('../assets/fonts/BentonSansComp-Light.svg#BentonSansComp-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'BentonSansComp Book';
    src: url('../assets/fonts/BentonSansComp-Book.eot');
    src: url('../assets/fonts/BentonSansComp-Book.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/BentonSansComp-Book.woff2') format('woff2'),
        url('../assets/fonts/BentonSansComp-Book.woff') format('woff'),
        url('../assets/fonts/BentonSansComp-Book.svg#BentonSansComp-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'FreightBig Pro';
    src: url('../assets/fonts/FreightBigProMedium-Regular.eot');
    src: url('../assets/fonts/FreightBigProMedium-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/FreightBigProMedium-Regular.woff2') format('woff2'),
        url('../assets/fonts/FreightBigProMedium-Regular.woff') format('woff'),
        url('../assets/fonts/FreightBigProMedium-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FreightBig Pro';
    src: url('../assets/fonts/FreightBigProBold-Regular.eot');
    src: url('../assets/fonts/FreightBigProBold-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/FreightBigProBold-Regular.woff2') format('woff2'),
        url('../assets/fonts/FreightBigProBold-Regular.woff') format('woff'),
        url('../assets/fonts/FreightBigProBold-Regular.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FreightBig Pro Book';
    src: url('../assets/fonts/FreightBigProBook-Regular.eot');
    src: url('../assets/fonts/FreightBigProBook-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/FreightBigProBook-Regular.woff2') format('woff2'),
        url('../assets/fonts/FreightBigProBook-Regular.woff') format('woff'),
        url('../assets/fonts/FreightBigProBook-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FreightBig Pro';
    src: url('../assets/fonts/FreightBigProBlack-Regular.eot');
    src: url('../assets/fonts/FreightBigProBlack-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/FreightBigProBlack-Regular.woff2') format('woff2'),
        url('../assets/fonts/FreightBigProBlack-Regular.woff') format('woff'),
        url('../assets/fonts/FreightBigProBlack-Regular.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'FreightBig Pro';
    src: url('../assets/fonts/FreightBigProLight-Regular.eot');
    src: url('../assets/fonts/FreightBigProLight-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/FreightBigProLight-Regular.woff2') format('woff2'),
        url('../assets/fonts/FreightBigProLight-Regular.woff') format('woff'),
        url('../assets/fonts/FreightBigProLight-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

