

 .H1-Style {
    user-select: none;
    //font-family: "benton-sans-condensed";
    font-size: 37px;
    color: $fontColor;
    background-size: contain;
    background-position: 0% 0%;
    background-repeat: no-repeat;
    position: relative;
    width: 400px;
    height: auto;
   // top: calc( 480px / 2);
    margin-top: calc( 480px / 2);
    left: $desktopContentPadding;

    font-family: 'FreightBig Pro';
    font-weight: bold;
    font-style: normal;

   // text-transform: uppercase;

    .bold {
      //  font-weight: 700;
       // font-family: 'BentonSansComp Bold';
    }

    .ultra-thin {
       // font-weight: 200;
    }

    @include breakpoint(medium) {
      font-size: 28px;
      width: 240px;
      height: auto;
   }


    @include breakpoint(small) {
       top: unset;
       bottom: 130px;
       left: 35px;
       color: white;
       text-shadow: rgba(0,0,0,0.5) 2px 2px;
       position: absolute;
       width: auto;
    }

    @include breakpoint(mobile) {
      position: absolute;
      top: unset;
      bottom: 22%;
      left: 0px;
      color: white;
      font-size: 28px;
      width: 100%;
      text-align: center;
     }
}
